body {
    color: white;
    background: black;
    margin: 5px;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

section {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    color: rgb(70, 132, 214);
    font-variant: small-caps;
}

img{
    height: 200px;
}

h2 {
    color: rgb(70, 132, 214);
}
h3{
    text-align: center;
    text-transform: uppercase;
    color: rgb(70, 132, 214);
  }
   
  h4{
    text-align: center;
    text-transform: uppercase;
    color: rgb(70, 132, 214);
  }

  button{
    padding: 12px;
    border-radius: 8px;
    background-color: aliceblue;
    font-size: 15px;
    
  }

audio {
    display: none;
}